<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vincent Bazia</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <style type="text/css">
            @media print {
                body {
                    -webkit-print-color-adjust: exact;
                }
            }
        </style>
    </head>

    <body v-scope @vue:mounted="getJSON">
        <div v-if="json" class="max-w-[827px] mx-auto p-6 space-y-4">
            <header class="flex gap-3 justify-between items-end pb-2 border-b-8 border-blue-100">
                <div class="bg-blue-100 aspect-square rounded-xl size-24 overflow-hidden">
                    <img class="w-full scale-[1.8] translate-y-3 saturate-150" :src="json.basics.image" />
                </div>
                <div class="flex-1">
                    <h2 class="text-3xl font-bold uppercase text-gray-800">{{json.basics.name}}</h2>
                    <h1 class="text-lg font-thin uppercase text-gray-800">{{json.basics.label}}</h1>
                </div>

                <ul class="flex flex-col text-sm text-gray-800 font-light text-right">
                    <span>{{json.basics.email}}</span>

                    <span>{{json.basics.phone}}</span>

                    <span>{{json.basics.location.city}}, {{json.basics.location.address}}</span>

                    <a :href="json.basics.url" target="_blank" class="hover:underline">{{json.basics.url}}</a>
                </ul>
            </header>

            <p class="text-gray-800">{{json.basics.summary}}</p>

            <section>
                <h3 class="font-bold uppercase text-lg tracking-widest text-blue-600 border-b-2 border-blue-100 mb-2">Skills</h3>

                <ul class="space-y-1">
                    <li v-for="skill in json.skills">
                        <span class="text-gray-700 font-bold text-sm">{{skill.name}} :</span>
                        <span class="bg-gray-100 px-2 py-1 rounded-lg text-gray-800 text-xs mr-1" v-for="keyword in skill.keywords">
                            {{keyword}}
                        </span>
                    </li>
                </ul>
            </section>

            <section>
                <h3 class="font-bold uppercase text-lg tracking-widest text-blue-600 border-b-2 border-blue-100 mb-2">experience</h3>
                <div class="space-y-4">
                    <div v-for="work in json.work">
                        <div class="flex justify-between items-center text-gray-800">
                            <div class="text-sm">
                                <span class="font-bold text-sm uppercase">{{work.position}}</span> -
                                <a :href="work.url" target="_blank" class="font-light hover:underline">{{work.name}}</a>
                            </div>
                            <div class="text-sm text-gray-600 text-right">
                                <span>{{ formatDate(work.startDate)}}</span>
                                <span v-if="formatDate(work.startDate) != formatDate(work.endDate)"
                                    >- <span v-if="work.endDate">{{ formatDate(work.endDate)}}</span>
                                    <span v-else>Present</span>
                                </span>
                            </div>
                        </div>

                        <p class="ml-8 text-sm text-gray-600">{{work.summary}}</p>

                        <ul class="text-sm text-gray-500 font-light list-disc ml-16">
                            <li v-for="highlight in work.highlights" v-html="highlight"></li>
                        </ul>
                    </div>
                </div>
            </section>

            <div class="grid grid-cols-2 gap-2">
                <section class="p-4">
                    <h3 class="font-bold uppercase text-lg tracking-widest text-blue-600 border-b-2 border-blue-100">Education</h3>
                    <div class="">
                        <div v-for="education in json.education">
                            <div class="flex justify-between items-center">
                                <h4 class="font-bold uppercase text-gray-800">{{education.studyType}}</h4>
                                <span class="text-gray-600 text-sm">{{formatDate(education.endDate)}}</span>
                            </div>
                            <p class="text-xs text-gray-600">{{education.institution}}</p>
                        </div>
                    </div>
                </section>

                <section class="p-4">
                    <h3 class="font-bold uppercase text-lg tracking-widest text-blue-600 border-b-2 border-blue-100">Languages</h3>

                    <ul class="text-gray-800 text-sm">
                        <li v-for="language in json.languages">{{language.language}} <span class="text-gray-500">- {{language.fluency}}</span></li>
                    </ul>
                </section>
            </div>
        </div>

        <script type="module">
            import { createApp } from "https://unpkg.com/petite-vue?module"

            createApp({
                json: null,
                getJSON() {
                    fetch("./resume.json")
                        .then(res => res.json())
                        .then(res => (this.json = res))
                },
                formatDate(date) {
                    return new Date(date).getFullYear()
                },
                nbYearXP() {
                    if (!this.json) return 0

                    return new Date(Date.now() - new Date(this.json.work.at(-1).startDate)).getUTCFullYear() - 1970
                },
            }).mount()
        </script>
    </body>
</html>
