@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary: #242424;
    --secondary: #777777;
}


body {
    color: #242424;
    padding: 50px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    width: 1080px;
    margin: auto;
}

@page {
    margin: 0;
    width: 100%;
}

h1 {
    font-size: 70px;
    font-family: "Besley", sans-serif;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 40px;
}

h3 {
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;


    border-bottom: 1px solid var(--secondary);
    padding: 20px;
}


header img {
    height: 12rem;
    border-radius: 100%;
    filter: saturate(0.75);
}

article {
    border-left: 1px solid var(--secondary);
}


ul {
    padding: 0;
}

section li {
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}


main {
    display: flex;
}

section {
    margin: 50px;
    border-bottom: 1px solid var(--secondary);

}

svg {
    width: 20px;
    height: 20px;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.badge {
    background-color: var(--secondary);
    color: white;
    border-radius: 10%;
    margin-left: 0.125rem;
}